<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <% if (locals.fileLink !=null) { %>
  <div class="upload-success">
    Your file is upload to :
    <a href="<%= locals.fileLink %>"><%= locals.fileLink %></a>
  </div>
  <% } %>
  <div class="box">
    <h2>File upload</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <div class="upload-box">
        <input type="file" name="file" id="file" required>
        <!-- <label for="file">File: </label> -->
      </div>
      <div class="upload-box">
        <input type="password" name="password" id="password">
        <label for="password">Password</label>
      </div>
      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Share
      </button>
    </form>
  </div>
</body>

</html>

<!-- <button style="grid-column: span 2;" type="submit">Share</button> -->
<!-- style="display: grid; gap: .5rem; grid-template-columns: auto 1fr; max-width: 500px; margin: 0 auto;" -->