<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <% if (locals.error) { %>
  <div style=color:red; margin-bottom: 1rem;">
    Incorrect Password
  </div>
  <% } %>
  <div class="box">
    <form method="post">
      <div class="upload-box">
        <input type="password" name="password" id="password" required>
        <label for="password">Password</label>
      </div>
      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Download
      </button>
    </form>
  </div>
</body>

</html>